# Dependencies
node_modules/
client/node_modules/

# Build outputs
client/dist/
src/*/bin/
src/*/obj/

# IDE
.vs/
.vscode/
*.user
*.suo

# OS
Thumbs.db
.DS_Store

# Environment
*.env
appsettings.Development.json

# Yarn
yarn.lock
yarn-error.log
yarn-debug.log*
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.pnp.*
